[submodule "CV/Noise/NoisyStudent/noisystudent"]
	path = CV/Noise/NoisyStudent/noisystudent
	url = https://github.com/google-research/noisystudent
[submodule "CV/Noise/big_transfer"]
	path = CV/Noise/big_transfer
	url = https://github.com/google-research/big_transfer
[submodule "CV/Noise/BiT/big_transfer"]
	path = CV/Noise/BiT/big_transfer
	url = https://github.com/google-research/big_transfer
[submodule "CV/Noise/DarkLighter/DarkLighter"]
	path = CV/Noise/DarkLighter/DarkLighter
	url = https://github.com/vision4robotics/DarkLighter.git
[submodule "CV/Segmentation/Semantic/TorchSeg"]
	path = CV/Segmentation/Semantic/TorchSeg
	url = https://github.com/ycszen/TorchSeg
[submodule "CV/Segmentation/Semantic/JSIS3D/jsis3d"]
	path = CV/Segmentation/Semantic/JSIS3D/jsis3d
	url = https://github.com/pqhieu/jsis3d
[submodule "CV/Segmentation/Semantic/FCN/fcn.berkeleyvision.org"]
	path = CV/Segmentation/Semantic/FCN/fcn.berkeleyvision.org
	url = https://github.com/shelhamer/fcn.berkeleyvision.org
[submodule "CV/Segmentation/Semantic/3D-SIS/3D-SIS"]
	path = CV/Segmentation/Semantic/3D-SIS/3D-SIS
	url = https://github.com/Sekunde/3D-SIS
[submodule "CV/Segmentation/Entity/Entity"]
	path = CV/Segmentation/Entity/Entity
	url = https://github.com/dvlab-research/Entity
[submodule "CV/Segmentation/W-Net/Group-31-W-Net-A-Deep-Model-for-Fully-Unsupervised-Image-Segmentation"]
	path = CV/Segmentation/W-Net/Group-31-W-Net-A-Deep-Model-for-Fully-Unsupervised-Image-Segmentation
	url = https://github.com/Guru-Deep-Singh/Group-31-W-Net-A-Deep-Model-for-Fully-Unsupervised-Image-Segmentation
[submodule "CV/Segmentation/W-Net/W-Net"]
	path = CV/Segmentation/W-Net/W-Net
	url = https://github.com/Ashish77IITM/W-Net
[submodule "CV/Detection/Pseudo-LiDAR/pseudo-LiDAR_e2e"]
	path = CV/Detection/Pseudo-LiDAR/pseudo-LiDAR_e2e
	url = https://github.com/mileyan/pseudo-LiDAR_e2e
[submodule "CV/Segmentation/PointNet/pointnet"]
	path = CV/Segmentation/PointNet/pointnet
	url = https://github.com/nikitakaraevv/pointnet
[submodule "CV/Detection/EdgeNets/EdgeNets"]
	path = CV/Detection/EdgeNets/EdgeNets
	url = https://github.com/sacmehta/EdgeNets
[submodule "CV/Detection/EdgeNets/ESPNetv2-COREML"]
	path = CV/Detection/EdgeNets/ESPNetv2-COREML
	url = https://github.com/sacmehta/ESPNetv2-COREML
[submodule "CV/Embodied/HRegNet/HRegNet"]
	path = CV/Embodied/HRegNet/HRegNet
	url = https://github.com/ispc-lab/HRegNet
[submodule "CV/Embodied/D3Feat/D3Feat"]
	path = CV/Embodied/D3Feat/D3Feat
	url = https://github.com/XuyangBai/D3Feat
[submodule "CV/Embodied/D3Feat/D3Feat.pytorch"]
	path = CV/Embodied/D3Feat/D3Feat.pytorch
	url = https://github.com/XuyangBai/D3Feat.pytorch
[submodule "CV/Embodied/PU-Net/PU-GCN/PU-GCN"]
	path = CV/Embodied/PU-Net/PU-GCN/PU-GCN
	url = https://github.com/guochengqian/PU-GCN
[submodule "CV/Embodied/PVCNN/pvcnn"]
	path = CV/Embodied/PVCNN/pvcnn
	url = https://github.com/mit-han-lab/pvcnn
[submodule "CV/Embodied/RPMNet/RPMNet"]
	path = CV/Embodied/RPMNet/RPMNet
	url = https://github.com/yewzijian/RPMNet
[submodule "CV/Segmentation/Semantic/ESPNet/EdgeNets/EdgeNets"]
	path = CV/Segmentation/Semantic/ESPNet/EdgeNets/EdgeNets
	url = https://github.com/sacmehta/EdgeNets
[submodule "CV/Segmentation/Semantic/ESPNet/EdgeNets/ESPNetv2-COREML"]
	path = CV/Segmentation/Semantic/ESPNet/EdgeNets/ESPNetv2-COREML
	url = https://github.com/sacmehta/ESPNetv2-COREML
